/* You can add global styles to this file, and also import other style files */
@use "styles/mixins/shared.mixins";

html {
  font-size: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--colour-ash-black);
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html,
body  {
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, img, p, button, span {
  margin: 0;
  padding: 0;
}

span, p {
  @include shared.copy-label;
}


