<table class="TapsListTable-table">
  <thead>
  <tr>
    @for(column of columnNames; track column.name) {
      <th data-testid="table-header-colum">
        <button class="TapsListTable-tableHeaderButton" (click)="onColumnSort(column.name)">
            <span class="TapsListTable-tableHeaderButtonText">
              {{ column.text }}
            </span>

          @if(columnSort().direction !== 'none') {
            <span class="TapsListTable-tableHeaderSort">{{ columnSort().column === column.name ? (columnSort().direction === 'asc' ? '▲' : '▼') : '' }}</span>
          }
        </button>
      </th>
    }
  </tr>
  </thead>
  <tbody>
    @if (isLoading) {
      <tr>
        @for(_ of columnNames; track $index) {
          <td><span class="TapsListTable-loader"></span></td>
        }
      </tr>
    }

    @for (row of data; track row.eventId) {
      <tr app-tap-row data-testid="row-data" [data]="row"></tr>
    } @empty {
      <tr>
        <td colspan="4"><span class="TapsListTable-noDataLabel">No data to display at the moment.</span></td>
      </tr>
    }
  </tbody>
</table>
