@use "styles/mixins/shared.mixins";
@use "styles/mixins/media-queries";

@include shared.pill-ripple-animation;
@include shared.loader-glare-animation;

:host {
  box-sizing: border-box;
  border-radius: var(--border-radius-xxsmall);
  margin-bottom: var(--spacing-default);
  border: 1px solid var(--colour-cool-grey);
  overflow-y: auto;
  max-height: 100%;

  @media (max-width: 768px) {
    overflow: auto;

    table {
      table-layout: auto;
      min-width: 600px;
      width: 100%;
    }
  }
}

.TapsListTable {
  &-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    border-radius: 8px;

    thead th {
      box-sizing: border-box;
      background-color: var(--colour-background-secondary);
      position: sticky;
      top: 0;
      z-index: 10;
    }
  }

  &-tableHeaderButton {
    @include shared.button-reset;
    padding: var(--spacing-default);
    color: var(--colour-charcoal-black);
  }

  &-tableHeaderButtonText {
    text-align: center;
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-bold);
  }

  &-tableHeaderSort {
    text-align: center;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
  }

  &-loader {
    background-color: var(--colour-bone);
    border-radius: var(--border-radius-xxxl);
    height: 40px;
    display: inline-block;
    margin-top: var(--spacing-xsmall);
    overflow: hidden;
    position: relative;
    width: 100%;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(
          90deg,
          transparent 0%,
          rgba(255, 255, 255, 0.6) 50%,
          transparent 100%
      );
      animation: loader-glare 1.5s ease-in-out infinite;
    }
  }

  &-noData {
    border-bottom: 1px solid var(--colour-cool-grey);
  }

  &-noDataLabel {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    padding: 5px 20px;
    width: 100%;
  }
}
